.formControl {

}

.formControl .error input {

}

.formControl.error textarea {
    border: solid #ff0000 3px;
}

.formControl.error span {
    color: red
}

.formSummaryError {
    border: solid darkkhaki 3px;
    color: darkkhaki;
}